
*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  line-height: 1.476 !important;
}


.new-content-block {
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar-toggler-container {
  max-width: 20%;
}


#banner {
  background: url(../images/banner_background_resized.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 500px;
}

.btn-custom {
  color: #212529;
  background-color: #09736F !important;
  border-color: #09736F !important;
  width: 100% !important;
}

.bg-olive {
	background: #719e9d;
}

.project-image {
  width: 100%;
  max-width:250px;
}

.image-container-center{
    margin-bottom: 20px;
    margin-top: 20px;
		display: flex;
		justify-content: center;
}


.text-container{
    margin-top: 20px;
    margin-bottom:20px;
}

.navbar {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


@media (min-width: 768px) {
  .standard-text{
    font-size: 18px;
    word-wrap: break-word;
  }
  .small-text {
    font-size: 15px;
  }
}

ul {
  padding-left: 20px;
}

.project-skill {
  min-width:100px;
}

@media (max-width: 768px) {
  .standard-text{
    font-size: 16px;
    word-wrap: break-word;
  }
  .small-text {
    font-size: 13px;
  }
}



.white-font {
  color: #FFFFFF;
}

.font-bold {
  font-weight: bold;
}

.vcenter {
      align-items:center;
}

/* Carousel dark indicators */
/* Add an extra .carousel parent class to increase specifity
   avoiding the use of !important flag. */
.carousel {
  padding-bottom: 60px;
  padding-left: 10%;
  padding-right: 10%;
}

.logo {
  max-width:95%;
}

.logo-container {
  max-width:70%;
}

.navbar-collapsed-container {
  max-width: 25%;
}
@media (min-width: 400px) {
  .logo {
    width: 280px;
  }
}

@media (max-width: 400px) {
  .logo {
    width: 200px;
  }
}


.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.carousel .carousel-indicators li {
  background-color: #fff;
  background-color: rgba(70,70,70,.25);
}

.carousel .carousel-indicators .active {
  background-color: #444;
}
